.navbar {
  width: 200px; /* 对导航栏进行宽度设置 */
  background-color: #f9f9f9; /* 设置导航栏背景颜色 */
}

.navbar a {
  display: block; /* 将链接元素变为块状元素 */
  color: #333; /* 设置链接颜色 */
  padding: 12px 16px; /* 设置链接的内边距 */
  text-decoration: none; /* 去除链接下划线 */
}

.navbar a:hover {
  background-color: #ddd; /* 当鼠标移到链接上时，设置背景颜色 */
}
